<div class="page-header">
  <%= link_to new_conta_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Conta
  <% end %>
  <h1>Contas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th><%= sort_link(@q, :nome) %></th>
            <th><%= sort_link(@q, :agencia) %></th>
            <th><%= sort_link(@q, :conta_corrente) %></th>
            <th><%= sort_link(@q, :boleto_carteira) %></th>
            <th><%= sort_link(@q, :boleto_nome_cedente) %></th>
            <th><%= sort_link(@q, :boleto_documento_cedente) %></th>
            <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contas) do |conta| %>
            <td><%= conta.nome %></td>
            <td><%= conta.agencia %></td>
            <td><%= conta.conta_corrente %></td>
            <td><%= conta.boleto_carteira %></td>
            <td><%= conta.boleto_nome_cedente %></td>
            <td><%= conta.boleto_documento_cedente %></td>
            <td>
          <%= link_to conta do %>
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          <% end %>
          <%= link_to edit_conta_path(conta) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
          <%= link_to conta, method: :delete, data: { confirm: 'Tem certeza?' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
