<div class="page-header">
  <%= link_to contas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_conta_path(@conta), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar conta</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @conta.nome %></dd>

  <dt>Agencia:</dt>
  <dd><%= @conta.agencia %></dd>

  <dt>Conta corrente:</dt>
  <dd><%= @conta.conta_corrente %></dd>

  <dt>Boleto nome cedente:</dt>
  <dd><%= @conta.boleto_nome_cedente %></dd>

  <dt>Boleto documento cedente:</dt>
  <dd><%= @conta.boleto_documento_cedente %></dd>

  <dt>Boleto convenio:</dt>
  <dd><%= @conta.boleto_convenio %></dd>

  <dt>Boleto carteira:</dt>
  <dd><%= @conta.boleto_carteira %></dd>

  <dt>Boleto variação:</dt>
  <dd><%= @conta.boleto_variacao %></dd>

</dl>
