<div class="page-header">
  <%= link_to vendas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_venda_path(@venda), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar venda</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= @venda.cliente %></dd>

  <dt>Descricao:</dt>
  <dd><%= @venda.descricao %></dd>

  <dt>Data faturamento:</dt>
  <dd><%= @venda.data_faturamento %></dd>

  <dt>Data cobranca:</dt>
  <dd><%= @venda.data_cobranca %></dd>

  <dt>Pago:</dt>
  <dd><%= @venda.pago %></dd>

  <dt>Valor:</dt>
  <dd><%= @venda.valor %></dd>

</dl>
